* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }

  .contain {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  h6{
    color:black;
  }
  