
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1;
    background-color: #fff;
    color: #333;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.container-fluid {
   
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #007bff;
    text-align: center;
    margin-top: 2rem;
  }

  .lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #38a1f3;

  }
  