.username-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
  }
  
  h1 {
    display: block;
    color:#007bff;
  }

  .container-fluid{
    margin-top:30px;
    padding-top:20px;
  }

  